{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

  <style>
    input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
    title {text-align: center; font-family: 'Courier New', monospace;}
    h1 {text-align: center; font-size: '18';}
    h3 {text-align: center; font-size: '12';}
    p {text-align: center; font-size: '12';}
    form {text-align: center; font-size: '4';background-color: transparent!important;}
    
body  {
background-image:url('{% static 'customer_21.jpeg' %}');
background-repeat:no-repeat;
background-size:140%;
}
div{background-color: transparent!important;}
    </style>
</head>


       
<body>   
{% include "Customer/headertab.html" %}
<div class="container">
  <div ><h2 style="color:black; font-family: Copperplate;"><marquee behavior="alternate" scrollamount="10">Stock Trading</marquee></h2></div>
  
  
     <form action = "/Customer/stocktrading/" method="POST" enctype="multipart/form-data" style = "width: 60%; font-size: 120%; background: transparent; font-family: Copperplate;" class="form-group">

      {% csrf_token %}
      {% load bootstrap %}
    
    <div class="panel-group" id="accordion" >

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" style="background: transparent;"></a></h4></div>
        <div id="collapse4" class="panel-collapse collapse in" style="background: transparent;">
        <div class="panel-body">
          {% for message in messages %}
              <div class="container-fluid p-0">
              <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
                </div>
              </div>
              {% endfor %}
              <br>
</div></div></div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="background: transparent;">Watchlist: Add/ Remove Stocks</a>
        </h2>
      </div>
      <div id="collapse1" class="panel-collapse collapse" style="background: transparent;">
        <div class="panel-body">
          <input type="text" name="stock_symbol1" placeholder="Enter Stock Symbol" style="width: 50%;">
          </br>
          <br>
          <button type = "submit" id = "addstock" name = "addstock" value = "addstock" style="background-color: #4CAF50;
            border: none;
            color: white;
            width: 30%;
            padding: 6px 12px;">Add Stock</button>
           <button type = "submit" id = "removestock" name = "removestock" value = "removestock" style="background-color: #33A2FF;
            border: none;
            color: white;
            width: 30%;
            padding: 6px 12px;">Remove Stock</button>
            <br>
            
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="background: transparent;">Buy/ Sell Stocks</a>
        </h2>
      </div>
      <div id="collapse2" class="panel-collapse collapse" style="background: transparent;">
        <div class="panel-body">
          <input type="text" name="stock_symbol" placeholder="Enter Stock Symbol" style="width: 50%;">
            </br>
            </br>
            <input type="text" name="stock_count" placeholder="Enter Stock Quantity" style="width: 50%;">
            </br>
            </br>
            <input type="text" name="stock_price" placeholder="Enter Stock Price" style="width: 50%;">
            </br>
            </br>
            <button type = "submit" id = "buystock" name = "buystock" value = "buystock" style="background-color: #4CAF50;
            border: none;
            color: white;
            width: 30%;
            padding: 6px 12px;">Buy Stocks</button>
            <button type = "submit" id = "sellstock" name = "sellstock" value = "sellstock" style="background-color: #33A2FF;
            border: none;
            color: white;
            width: 30%;
            padding: 6px 12px;">Sell Stocks</button>
              <br>
          </div>
    </div>
</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="background: transparent;">Stock WatchList</a>
        </h2>
      </div>
      <div id="collapse3" class="panel-collapse collapse " style="background: transparent;">
        <div class="panel-body">
          <select id = "stock_dropdown_symbol" name = "stock_dropdown_symbol" style="width: 50%;">

        {% for t in table %}
        <option name = "stock_option" id = "stock_option" value= "{{ t.stock_symbol }}" >{{ t.stock_symbol }}</option>
        {% endfor %}

        </select>
        <button type = "submit" id = "stock_dropdown" name = "stock_dropdown" value = "stock_dropdown" style="background-color: #33A2FF;
          border: none;
          color: white;
          width: 30%;
          padding: 6px 12px;">View Trends</button>
        </br>
          </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" style="background: transparent;"></a></h4></div>
        <div id="collapse5" class="panel-collapse collapse in" style="background: transparent;">
        <div class="panel-body">
          {{ plot1|safe }}
              <br>
</div></div></div>

  </div>
    </form>
  
  

    <!-- Optional Javascript -->
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    </body>
</html>
