{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	
<style>
    h2 {text-align: center; font-size: '12';}
    form {text-align: middle; font-size: '4';}
    div {text-align: middle;
  display: inline;
    vertical-align: middle;}
    #rcorners2 {
padding-top: 80px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 500px;
  height: 450px;  
}
#rcorners1 {
padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px; 
  width: 450px;
  height: 550px;  
}
.control-label{
    text-align: middle;
}
body{
  background-image:url('{% static 'banker_27.jpeg' %}');
  background-repeat:no-repeat;
  background-size:100%;
}
</style>
</head>
       
<body>   
{% include "Banker/bankerheadertab.html" %}
<div class="container">

  <div ><h2 style="color:black; font-family: Copperplate;"><marquee behavior="alternate" scrollamount="10">Administrative Works</marquee></h2></div>
  
		 <div class="container" >
      <form action = "/Banker/customeradmin/" method="POST" enctype="multipart/form-data" style = "font-family: Copperplate;width: 100%; font-size: 120%; vertical-align: right; background-color: none; margin: auto; position: absolute; left: 10%; overflow: scroll;" class="form-group">
            {% csrf_token %}
      
      <div class="col-sm-6" id="rcorners2" style="display: inline-block;">
        
      <select name = "dropdown" class="form-control" aria-label="Default select example" style = "font-size: 100%; width: 60%; height: 30px;">
      <option selected>Select Admin Option</option>
      <option id = "disablecustomer" name = "disablecustomer"  value="disablecustomer">Disable Customer</option>
      <option id = "enablecustomer" name = "enablecustomer"  value="enablecustomer">Enable Customer</option>
      <option id = "deletecustomer" name = "deletecustomer"  value="deletecustomer">Delete Customer</option>
      </select>
      <br>
      <input type="text" class="form-control" name="username" placeholder="Enter Username" style = "font-size: 100%; width: 60%; height: 30px;">
      <br>
      <button type = "submit" class="btn btn-primary" id = "submit" name = "submit" value = "submit" style="
      border: none;
      color: white;font-size: 100%;
      width: 40%;
      background-color: #1F45FC;" >Submit</button>
      </br>
      </br>
      {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-sm-6" id="rcorners1" style = "display: inline-block;">
      {{ admin_stats_plot|safe }}

    </div>
    </form> 
    </div>

    <!-- Optional Javascript -->

      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    </body>
</html>
