{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!--Bootstrap CSS-->
    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <style>
    title {text-align: center; font-family: 'Courier New', monospace;}
    h1 {text-align: center; font-size: '18';}
    h2 {text-align: center; font-size: '12';}
    p {text-align: center; font-size: '12';}
    form {text-align: center; font-size: '4';}
   body  {
background-image:url('{% static 'banker_26.jpeg' %}');
background-repeat:no-repeat;
background-size:115%;
}
    </style>
</head>
       
<body>   
{% include "Banker/bankerheadertab.html" %}
<div class="container">
</br>
<div ><h2 style="color:black; font-family: Copperplate;"><marquee behavior="alternate" scrollamount="10">Customer Loan Request</marquee></h2></div>
  </br>
</br>
		 <div class="container" >
      <form action = "/Banker/loanrequest/" method="POST" enctype="multipart/form-data" style = "width: 100%; font-size: 120%; font-family: Copperplate; " class="form-group">
            {% csrf_token %}

            
            {% load render_table from django_tables2 %}
            {% load bootstrap4 %}

      <table class="table table-hover">
            <thead class="table" style = "font-size: 120%; font-family: Copperplate;">
       <tr>
      <td>Loan ID</td>
      <td>Account ID</td>
      <td>Loan Amount Requested</td>
      <td>Loan Status</td>
      </tr>
    </thead>
      {% for item in table %}
      <tr style = "font-size: 90%; font-family: Copperplate;">
          <td>{{ item.loan_id }}</td>
          <td>{{ item.account_id }}</td>
          <td>{{ item.loan_amount }}</td>
          <td>{{ item.loan_status }}</td>
          <td><button type = "submit" id = "loan_prediction" name = "loan_prediction" class="btn btn-info" value = "{{ item.loan_id }}" style="
          border: none;
          color: white;
          width: 80%;
          padding: 6px 12px;" >Prediction</button></td>
          <td><button type = "submit" id = "approve_loan" name = "approve_loan" class="btn btn-success" value = "{{ item.loan_id }}" style="
          border: none;
          color: white;
          width: 80%;
          padding: 6px 12px;" >Approve</button></td>
          <td><button type = "submit" id = "decline_loan" name = "decline_loan" class="btn btn-danger" value = "{{ item.loan_id }}" style="  
          border: none;
          color: white;
          width: 80%;
          padding: 6px 12px;" >Decline</button></td>
      </tr>

      {% endfor %}
      </table> 
          
        </form> 

          </br>
          </br>

    </div>

    <div style = "font-size: 120%; ">
      {% for message in messages %}
      <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
      {% endfor %}
    </div>

    </div>

    <!-- Optional Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>
